.container {
  height: calc(100vh - 111px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // transition: all 10.3s ease-in-out;
}
.searchBackgroundImage {
  width: 100%;
  height: calc(100vh - 111px);
  object-fit: cover;
  filter: brightness(40%);
  position: absolute;
  z-index: -1;
}
.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding-inline-end: 20px;
  width: 50%;
  transition: top 1s ease-in-out, transform 1s ease-in-out,
    margin-top 1s ease-in-out;
  background-color: var(--background-container-color);
  .searchInput {
    background-color: var(--background-container-color);
    width: 100%;
    height: 85px;
    border-radius: 8px;
    text-indent: 20px;
    font-size: 32px;
  }
  .searchIcon {
    font-size: 42px;
    cursor: pointer;
  }
}

.container:has(.searchInput:focus),
.container:has(.searchInput.focus) {
  // align-items: start;
  position: relative;
  .content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 20px;
    position: absolute;
    top: 0;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 720px) {
  .container {
    width: 100%;
    padding: 20px;
  }
  .content {
    // padding: 0;
    width: 100%;
  }
}

////////////////////////////////////////////
///
.searchResultBox {
  position: absolute;
  top: 0%;
  opacity: 0;
  background-color: white;
  width: 100%;
  pointer-events: none;
  visibility: hidden;
  transition: top 0.1s ease-in-out, opacity 0.5s ease-in-out;
  border-radius: 0 0 8px 8px;
  overflow-x: hidden;
  // min-height: 20px;
  .searchResultBoxContent {
    background-color: var(--background-container-color);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 16px;
    .searchResultCard {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      // border: 1px solid red;
      .searchResultBoxContentImage {
        width: 64px;
        height: 64px;
        img {
          min-width: 64px;
          min-height: 64px;
          object-fit: cover;
        }
      }
      .searchResultBoxContentText {
        p {
          display: -webkit-box;
          line-clamp: 3;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
          max-width: 100%;
          font-size: 14px; // Add a specific font size
          line-height: 1.2; // Adjust line height
          height: 50px; // Set a fixed height
        }
      }
    }
  }
}
.searchResultBox.active {
  top: 100%;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  visibility: visible;
  opacity: 1;
  .seeAll {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-inline-end: 20px;
    margin-block-end: 20px;
    color: #ff6f3c;
    padding: 8px 16px;
    border: 1px solid #ff6f3c;
    transition: border-radius 0.3s ease-in-out;
    &:hover {
      border-radius: 8px;
    }
  }
}

@keyframes expandWidth {
  from {
    width: 0;
  }
  to {
    width: 10%;
  }
}
.simpleLoading {
  text-align: start;
  display: inline-block;
  overflow-x: hidden;
  width: 0;
  margin: 0 auto;
  animation: expandWidth 1.5s linear infinite;
  -webkit-animation: expandWidth 1.5s linear infinite; /* Safari and Chrome */
  -moz-animation: expandWidth 1.5s linear infinite; /* Firefox */
  -o-animation: expandWidth 1.5s linear infinite; /* Opera */
  animation: expandWidth 1.5s linear infinite;
}

@media only screen and (max-width: 1200px) {
  .searchResultBoxContent {
    grid-template-columns: 1fr 1fr !important;
    .searchResultCard {
      align-items: start !important;
      justify-content: start !important;
    }
  }
  .searchResultBox.active .seeAll {
    margin: 0;
    width: 100%;
    position: unset !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (720px < width < 1200px) {
  .searchResultBoxContent {
    grid-template-columns: 1fr !important;
    .searchResultCard {
      align-items: start !important;
      justify-content: start !important;
    }
  }
  .searchResultBox.active .seeAll {
    margin: 0;
    width: 100%;
    position: unset !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .searchResultBoxContent {
    grid-template-columns: 1fr !important;
    .searchResultCard {
      align-items: start !important;
      justify-content: start !important;
    }
  }
  .searchResultBox.active .seeAll {
    margin: 0;
    width: 100%;
    position: unset !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
